{% extends 'base.html' %}
{% block content %}
<!-- Portfolio Section -->
<section class="section sec3 " id="portfolio">
    <div class="main-title">
        <h2>My <span>Portfolio</span></h2>
    </div>
    <p class="port-text">
        Here is some of my work that I have done in various programming languages.<br>
        (Some websites are still in development.)
    </p>
    <div class="portfolios">
        <div class="portfolio-item">
            <div class="image">
                <img src="img/port7.jpg" alt="">
            </div>
            <div class="hover-items">
                <h3>Project source</h3>
                <div class="icons">
                    <a href="https://github.com/Funi-Simushi/newspaper-app" class="icon">
                        <i class="fab fa-github"></i>
                    </a>
                    <a href="#" class="icon">
                        <i class="fab fa-behance"></i>
                    </a>
                    <a href="https://www.youtube.com/channel/UClA5uaS_hOwiEQ5pVWgvamQ" class="icon">
                        <i class="fab fa-youtube"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="portfolio-item">
            <div class="image">
                <img src="img/port8.jpg" alt="">
            </div>
            <div class="hover-items">
                <h3>Project source</h3>
                <div class="icons">
                    <a href="#" class="icon">
                        <i class="fab fa-github"></i>
                    </a>
                    <a href="#" class="icon">
                        <i class="fab fa-behance"></i>
                    </a>
                    <a href="https://www.youtube.com/channel/UClA5uaS_hOwiEQ5pVWgvamQ" class="icon">
                        <i class="fab fa-youtube"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="portfolio-item">
            <div class="image">
                <img src="img/port1.jpg" alt="">
            </div>
            <div class="hover-items">
                <h3>Project source</h3>
                <div class="icons">
                    <a href="#" class="icon">
                        <i class="fab fa-github"></i>
                    </a>
                    <a href="#" class="icon">
                        <i class="fab fa-behance"></i>
                    </a>
                    <a href="https://www.youtube.com/channel/UClA5uaS_hOwiEQ5pVWgvamQ" class="icon">
                        <i class="fab fa-youtube"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="portfolio-item">
            <div class="image">
                <img src="img/port1.jpg" alt="">
            </div>
            <div class="hover-items">
                <h3>Project source</h3>
                <div class="icons">
                    <a href="#" class="icon">
                        <i class="fab fa-github"></i>
                    </a>
                    <a href="#" class="icon">
                        <i class="fab fa-behance"></i>
                    </a>
                    <a href="#" class="icon">
                        <i class="fab fa-youtube"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="portfolio-item">
            <div class="image">
                <img src="img/port1.jpg" alt="">
            </div>
            <div class="hover-items">
                <h3>Project source</h3>
                <div class="icons">
                    <a href="#" class="icon">
                        <i class="fab fa-github"></i>
                    </a>
                    <a href="#" class="icon">
                        <i class="fab fa-behance"></i>
                    </a>
                    <a href="#" class="icon">
                        <i class="fab fa-youtube"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="portfolio-item">
            <div class="image">
                <img src="img/port1.jpg" alt="">
            </div>
            <div class="hover-items">
                <h3>Project source</h3>
                <div class="icons">
                    <a href="#" class="icon">
                        <i class="fab fa-github"></i>
                    </a>
                    <a href="#" class="icon">
                        <i class="fab fa-behance"></i>
                    </a>
                    <a href="#" class="icon">
                        <i class="fab fa-youtube"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}